@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e1e1efd;
  color: #f1eeee;
}

a {
  text-decoration: none;
  color: #f1eeee;
}

a:visited {
  color: #d06b6b;
}

a:hover {
  color: #d06b6b;
}

a:focus {
  color: #d06b6b;
}

.project {
  padding: 55px 85px;
}

.project .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.project .header h3 {
  font-size: 40px;
}

.project .header button {
  background-color: #912c2c;
  padding: 10px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  border-radius: 10px;
}

.project .header button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.project .header button i {
  font-size: 26px;
  transition: 0.2s ease-out;
}

.project .header button:hover {
  background-color: #642727;
}

.project .header:hover i {
  transform: translateY(-4px);
}

.project .project-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #131010;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  /* opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s; */
}

/* .item.fadeIn {
  opacity: 1;
  transform: translateY(0);
} */

.project .project-items .item:hover {
  border-color: #922a2a;
}

.project .project-items .item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  padding: 10px;
  border-radius: 25px;
}

.project .project-items .item .info {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.project .project-items .item .info h4 {
  font-size: 21px;
}

.project .project-items .item .info p {
  color: #b4b4b4;
  font-size: 15px;
}

.skill-items {
  display: flex;
  text-align: center;
  gap: 10px;
}

.skill-items li {
  list-style: none;
  background-color: #8b8989d8;
  border-radius: 10px;
  padding: 5px;
  font-size: 10px;
  width: 100%;
}

.project .project-items .item .info a {
  font-size: 13px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #d06b6b;
}

.project .project-items .item .info a i {
  margin-left: 2px;
  font-size: 12px;
}

/* back-to-top */
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #a73131;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.back-to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.back-to-top i {
  color: #ffffff;
  font-size: 2rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #922a2a;
}

.back-to-top:hover i {
  transform: translateY(-4px);
}

@media screen and (max-width: 1200px) {
  .project .header h3 {
    font-size: 32px;
  }
}

@media screen and (max-width: 992px) {
  .project {
    padding: 42px 50px;
  }

  .project .project-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .project {
    padding: 42px 50px;
  }

  .project .project-items {
    gap: 18px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .project {
    padding: 40px 40px;
  }

  .project .header {
    align-items: flex-end;
  }
  .project .header h3 {
    font-size: 27px;
    margin-top: 10px;
  }

  .project .header button {
    padding: 8px 10px;
  }

  .project .project-items .item {
    margin-bottom: 15px;
  }

  .project .project-items .item img {
    height: 200px;
  }

  .project .project-items .item .info {
    gap: 12px;
    padding: 10px 22px 24px;
  }

  .project .project-items .item .info h4 {
    font-size: 18px;
  }

  .project .project-items .item .info p {
    font-size: 13px;
  }

  .skill-items li {
    font-size: 8px;
    padding: 4px;
    width: 30%;
  }

  .project .project-items .item .info a {
    font-size: 11px;
  }
}

@media (prefers-color-scheme: light) {
  a {
    text-decoration: none;
    color: #f1eeee;
  }

  a:visited {
    color: #ded0b6;
  }

  a:hover {
    color: #ded0b6;
  }

  a:focus {
    color: #ded0b6;
  }

  body {
    background-color: #ebe3d5;
    color: #131010;
  }

  .project .project-items .item {
    background-color: #342929;
  }

  .project .project-items .item:hover {
    border-color: #8a7272;
  }

  .project .project-items .item .info h4 {
    color: #ffffff;
  }

  .project .project-items .item .info p {
    color: #d7d7d7;
    font-size: 15px;
  }

  .project .project-items .item .info a {
    text-decoration-color: #a38484;
  }

  .skill-items li {
    background-color: #c8ae7d;
  }
}
